@font-face {
  font-family: "Roboto Thin";
  font-weight: 100;
  src: url("../webfonts/Roboto-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto Light";
  font-weight: 300;
  src: url(../webfonts/Roboto-Light.ttf) format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../webfonts/Roboto.ttf) format("ttf");
}

@font-face {
  font-family: "Roboto Medium";
  font-weight: 500;
  src: url(../webfonts/Roboto-Medium.ttf) format("ttf");
}

@font-face {
  font-family: "Roboto Bold";
  font-weight: 700;
  src: url(../webfonts/Roboto-Bold.ttf) format("ttf");
}

@font-face {
  font-family: "Roboto Black";
  font-weight: 900;
  src: url(../webfonts/Roboto-Black.ttf) format("ttf");
}
