body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	color: #222;
	font-style: normal;
	letter-spacing: .2em;
	line-height: 1.6em;
	text-transform: uppercase;
	font-weight: 300;
}

h1 {
	font-size: 2em;
	font-weight: 700;
}

a {
	color: inherit;
}

button {
	border: none;
	background-color: #fff;
	cursor: pointer;
	padding: 0;
}

small {
 	color: rgb(124,124,124);
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

input {
	color: rgb(33, 33, 33);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-bottom-color: #000;
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	padding-top: 8px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 3px;
	box-shadow: none;
}

textarea {
	color: rgb(33, 33, 33);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-bottom-color: #000;
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	padding-top: 8px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 3px;
	box-shadow: none;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}
